/* Base styles for the body */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #386010; /* May Green background color */
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header, main, email, and footer styles */
header, main, .email, footer {
    margin: 10px;
    padding: 5px;
}

.content {
    position: relative;
    z-index: 2; 
}

.graphic {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Link styles */
a:link {
    color: yellow;
}

a:visited {
    color: white;
}

a:hover {
    color: orange;
}

/* Keyframes for spin animation */
@keyframes spin {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}

/* Image spin styles */
.img-spin {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.img-spin-active {
    animation: spin 1s forwards;
}

/* Responsive Design */
@media (max-width: 600px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .wallet-actions {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #avaxAmount, .wallet-action-btn, .send-avax-btn {
        width: 100%;
        margin: 5px 0;
    }
}
