/* Base styles for the body */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #386010; /* May Green background color */
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, main, .email, footer {
    margin: 10px;
    padding: 5px;
}

.graphic{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Styles for unvisited links */
a:link {
    color: yellow;
}

/* Styles for visited links */
a:visited {
    color: white;
}

/* Styles for links when hovered over */
a:hover {
    color: orange;
}

@keyframes spin {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}

.img-spin {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.img-spin-active {
    animation: spin 1s forwards;
}

